*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #867664;
}

img{
    padding: 20px;
}

.suporte{
    display: flex;
    align-items: center;
    height: 200px;
}

.logo{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 300px;
}

.logo img{
    height: 600px;
    width: 600px;
}

.alinhar{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 300px;
}




.menu{
    list-style: none;
    padding: 20px 0px 20px 0px;
    background-color: #695a49;
    display: flex;
    align-items: center;
}

.menu li{
    display: inline;
}

.menu li a{
    color: white;
    padding: 10px;
    display: flex;
    display: inline;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{ 
    content: '';
    width: 3.5rem;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #f3d9b2;
}


/*****CARROSSEL*****/

.carousel-wrapper {
    height: 520px;
    position: relative;
    width: 1519px;
    display: block;
    margin: 0px;
    border: 2px solid black;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('imagens/Banner\ ofertas.png');
    background-size: cover;
  }
  .item-2 {
    background: url('imagens/Banner\ Frete\ Grátis.png');
    background-size: cover;
  }
  .item-3 {
    background: url('imagens/Banner\ premiados.png');
    background-size: cover;
  }

  .item-4 {
    background: url('imagens/Banner\ autoras.png');
    background-size: cover;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }
/*FIM CARROSSEL*/


.banner{
    background-image: linear-gradient(100deg, #000000, #00000020), url('imagens/fundo.jpg');
    height: 700px;
    background-size: cover;
    right: 150px;
    padding: 200px 650px 0px 10px;
    background-position: center;    
}


.txtbanner{
    max-width: 700px;
    margin: 0 auto;
}

.txtbanner p{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.txtbanner h2{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.txtbanner a{
    margin-top: 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 3rem;
}




.main-conteudo{
    background-color: #867664;
}



.align{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}
.base-conteudo{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 1rem;
    gap: 1.5rem;
    width: 250px;
    background-color: white;
    padding: 1.0rem 0;
    box-shadow: 10px 5px 5px rgb(19, 19, 19);
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.conteudo span{
    font-weight: 700;
    font-size: 1.2rem;
    color: black;

}

.conteudo p{
    color: #ce1e1e;
    font-weight: 400;
}

.tituloproduct{
    color: white;
    text-align: center;
    margin-bottom: 25px;
    background-color: #695a49;
    padding: 0.5rem 41rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px #7b6c59;
}

.tituloproducts{
    color: white;
    text-align: center;
    margin-bottom: 25px;
    background-color: #695a49;
    padding: 0.5rem 44rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px #7b6c59;
}

.tituloprodutos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-right: 700px;
    color: #41382e;  
}

.just{
    display: flex;
    justify-items: center;
    padding: 50px 150px 50px 150px;
}

.texto{
    font-size: 14px;
    text-align: justify;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white
}

.container-categoria{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-categoria{
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 1rem;
}

.categoria-lady{
    background-image: linear-gradient(#00000000, #00000080), url('imagens/lady\ killers.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 350px;
}

.categoria-george{
    background-image: linear-gradient(#00000000, #00000080), url('imagens/george\ orwell.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 350px;
}

.categoria-junji{
    background-image: linear-gradient(#00000000, #00000080), url('imagens/junji\ ito.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 350px;
}

.tipos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.card-categoria p{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    position: relative;
}

.card-categoria p::after{
    content:'';
    width: 3.5rem;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);

}

.card-categoria span{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.card-categoria span:hover{
    color: white
}


.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.container-options span{
    color: #5e4c31;
    background-color: #fff;
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover{
    background-color: #695a49;
    color: #fff;
}

.container-options span.active{
    background-color: #695a49;
    color: #fff;
}



.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: white;
}

.container-produtos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0px 50px 50px 50px;
}

.card-product{
    background-color: #c7bea5;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.container-img{
    position: relative;
}

.container-img img{
    width: 100%;
}

.container-img .discount{
    position: absolute;
    left: 0;
    color: #cec6b0;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discount{
    background-color: #695a49;
}

  


.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all 0.4s ease;
}

.button-group span{
    border: 1px solid #695a49;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button-group span:hover{
    background-color: #695a49;
}

.button-group span i{
    font-size: 1.5rem;
    color: #433c35;
}

.button-group span:hover i{
    color: #695a49
}


.content-card-product{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.card-product:hover .button-group{
    z-index: 0;
    right: -1rem;
    
}

.content-card-product h3{
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer; 
}

.content-card-product h3:hover{
    color: #695a49;
}

.add-cart{
    justify-self: start;
    border: 2px solid #695a49;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover{
    background-color: #695a49;
}

.add-cart i{
    font-size: 0.9rem;
    color: #695a49;
}

.add-cart:hover i{
    color: #ebe3d9;
}

.content-card-product .price{
    justify-self: end;
    align-self: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.content-card-product .price span{
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: 0.5rem;
}


.local{
    display: flex;
    gap: 2rem;
}

form{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #000000;
    border-radius: 20px;
}


.blogs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-blog{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 40px 20px 40px 20px;
    padding: 20px 30px 60px 30px;
    background-color: #cab9a5;
    border-radius: 30px;
    justify-content: center;
    align-items: center; 
}

.card-blog .container-blogs{
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.container-img{
    border-radius: 10px;
}

.button-group-blog{
    position: absolute;
    bottom: 1.2rem;
    right: -2.5rem;
    display: flex;
    gap: 0.7rem;
    z-index: -1;
    transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog{
    z-index: 0;
    right: 1.5rem;
}

.button-group-blog span{
    background-color: #e8e0d6;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group-blog span i{
    font-size: 1.3rem;
}

.button-group-blog span:hover i{ 
    color: #fff;
}

.button-group-blog span:hover{
    background-color: #5a5248;
}

.content-blog h3{
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    color: #41382e;
    font-weight: 400;
}

.container-blog h3:hover{
    color: #695a49;
    cursor: pointer;
}

.content-blog p{
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #41382e;
}

.container-blog span{
    color: #695a49;
    font-size: 1.3rem;
}

.btn-read-more{
    padding: 1rem 3rem;
    background-color: #41382e;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-radius: 2rem;
    margin: 2rem 0 5rem;
    display: inline-block;
    cursor: pointer;
}

.btn-read-more:hover{
    background-color: #645c53;
}



.footer {
	background-color: #695a49;
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
	background-color: #695a49;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
    color: white;
	font-weight: 600;
	font-size: 0.9rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: white;
	font-size: 0.9rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: white;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: black;
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.4rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 0.8rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #8f877d;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: black;
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #35322f;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 0.9rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 400;
}

.content button:hover {
	background-color:#695A49;
	color: white;
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	border-top: 1px solid #8f877d;
	justify-content: center;
	align-items: center;
}

.copyright p {
    color: white;
	font-weight: 400;
	font-size: 1.1rem;
}


@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}



@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}